* {
    font: Helvetica;
}

h1 {
    background-color: #454746;
    color: #f34f12;
    font-weight: bold;
    text-align: center;
}

ul {
    font-size: 30px;
    text-align: center;
    list-style-position: inside;
}